<div id="main">
    <div id="content">
        <h1>Upcoming training sessions</h1>
        <div class="tip">Tip: visit the event page to see the date and time converted to your local timezone</div>

        <div class="Umd">
        <% {
          :event3 => {
            :url => 'https://plus.google.com/events/c5vipodbost6lvgot14gbc8j7jc',
            :image => 'https://lh3.googleusercontent.com/-n7toJUskR1Q/V8i4fqQ9z9I/AAAAAAAAAAA/oYLAY3L-DesQHoyxWWXxT7id4gtl76mvwCJgCEAE/w420-h105-p/event_theme.jpg',
            :trainerProfile => 'https://plus.google.com/100621296041141022015',
            :trainerName => 'Geza Mihala',
            :trainerPhoto => '//lh3.googleusercontent.com/-8GrK-zNJraU/AAAAAAAAAAI/AAAAAAAAACQ/nEosdGl7fSs/s80-c/photo.jpg',
            :type => 'Facilitator',
            :dateTime => 'Fri, September 9, 12:00 PM UTC'
          },
          :event4 => {
            :url => 'https://plus.google.com/events/cu2p8ar911odnmdvqvs3k5ado5o',
            :image => 'https://lh3.googleusercontent.com/-n7toJUskR1Q/V8i4fqQ9z9I/AAAAAAAAAAA/oYLAY3L-DesQHoyxWWXxT7id4gtl76mvwCJgCEAE/w420-h105-p/event_theme.jpg',
            :trainerProfile => 'https://plus.google.com/103174616302996282485',
            :trainerName => 'Matt Plavcan',
            :trainerPhoto => '//lh3.googleusercontent.com/-TnRXdnPuYwY/AAAAAAAAAAI/AAAAAAAAAz4/mcWUJQMLxQI/s46-c-k-no/photo.jpg',
            :type => 'Facilitator',
            :dateTime => 'Wed, September 13, 11:00 PM UTC'
          },
          :event1909 => {
            :url => 'https://plus.google.com/events/ce8s8ms5vorfsqorln6ooglhjko',
            :image => 'https://lh3.googleusercontent.com/-n7toJUskR1Q/V8i4fqQ9z9I/AAAAAAAAAAA/oYLAY3L-DesQHoyxWWXxT7id4gtl76mvwCJgCEAE/w420-h105-p/event_theme.jpg',
            :trainerProfile => 'https://plus.google.com/103498541237969028212',
            :trainerName => 'Osvaldas Grigas',
            :trainerPhoto => '//lh3.googleusercontent.com/-oMBQPp862V4/AAAAAAAAAAI/AAAAAAAABHM/PAVMzTid1hw/s46-c-k-no/photo.jpg',
            :type => 'Facilitator',
            :dateTime => 'Mon, September 19, 5:00 PM UTC'
          },
          :event5 => {
            :url => 'https://plus.google.com/events/c7vulhejjcsptl7p8jstr364b44',
            :image => 'https://lh3.googleusercontent.com/-n7toJUskR1Q/V8i4fqQ9z9I/AAAAAAAAAAA/oYLAY3L-DesQHoyxWWXxT7id4gtl76mvwCJgCEAE/w420-h105-p/event_theme.jpg',
            :trainerProfile => 'https://plus.google.com/100621296041141022015',
            :trainerName => 'Geza Mihala',
            :trainerPhoto => '//lh3.googleusercontent.com/-8GrK-zNJraU/AAAAAAAAAAI/AAAAAAAAACQ/nEosdGl7fSs/s80-c/photo.jpg',
            :type => 'Facilitator',
            :dateTime => 'Mon, October 10, 8:00 AM UTC'
          },
        }.each do |t, event| %>

        <div eventid="c5kc2oe4sklhj7f2jcmf7rna9ro" class="d-k-l yB kPb mPb">
            <div class="JN yg">
                <a href="<%= event[:url] %>" target="_blank" class="d-s ob" tabindex="0">
                    <div class="ux Fu"><img src="<%= event[:image] %>" class="Ym">
                        <div class="UH"></div>
                    </div>
                </a>
            </div>
            <div class="xOa">
                <a href="<%= event[:trainerProfile] %>" target="_blank" class="ob Jk" oid="103174616302996282485">
                  <img src="<%= event[:trainerPhoto] %>" width="46px" height="46px" alt="<%= event[:trainerName] %>'s profile photo" class="we jPb" oid="103174616302996282485">
                </a>
            </div>
            <div class="ow">
                <a href="<%= event[:url] %>" target="_blank" class="d-s ob pw" data-tooltip="View event" tabindex="0">
                  Global Day of Coderetreat -
                  <%= event[:type] %> training session
                </a>
                <div class="pD">
                    <div class="qW">
                        <span role="button" class="d-s Fy Ij" tabindex="0" aria-haspopup="true">
                            <span class="l4"></span><%= event[:dateTime] %><span class="nA d-y-r-c-Qa"></span>
                        </span>
                        <div class="cM"></div>
                    </div>
                    <span role="button" class="d-s aM k4 Ij f2" tabindex="0">
                        <span class="i4"></span>Hangouts, with <%= event[:trainerName] %></span>
                </div>
            </div>
        </div>

        <% end %>
      </div>
    </div>
</div>

<!--/main-->
